:root {
    --white-color: #fff;
    --black-color: #000;
    --background-color:  #0b1d26;
    --accent-color: #FBD784;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 3rem;
    box-sizing: border-box;
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
    line-height: 2.8rem;
    font-size: 0.7rem;
}

body {
    font-size: 1.6rem;
    background: var(--background-color);
    color: var(--white-color);

}

img {
    display: inline-flex;
    max-width: 100%;
}

a {
    text-decoration: none;
    transition: 0.3s;
    color: var(--white-color);
}

a:hover {
    color: var(--accent-color);
}

button {
    cursor: pointer;
    border: none;
}